<launch>
    <arg name="config_path" default = "$(find vio_mesh_estimate)/config/euroc/euroc_config.yaml" />
	  <arg name="vins_path" default = "$(find vio_mesh_estimate)/config/../" />
    
    <node name="vins_feature_tracker" pkg="vins_feature_tracker" type="vins_feature_tracker" output="log">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="vio_mesh_estimate" pkg="vio_mesh_estimate" type="estimator_node" output="screen">
       <param name="config_file" type="string" value="$(arg config_path)" />
       <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

</launch>
